.layout {
    min-height: 100vh;
    display: grid;
}

.layoutExpanded {
    grid-template-columns: 280px 1fr;
}

.layoutCollapsed {
    grid-template-columns: 72px 1fr;
}

.content {
    min-width: 0;
}

.main {
    padding: 16px;
}

@media (min-width: 768px) {
    .main {
        padding: 24px;
    }
}