### deps
node_modules/

### Next.js
.next/
out/
*.tsbuildinfo
.next/cache/

### logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

### testing / coverage
coverage/

### env (secrets)
.env
.env.*
!.env.example
!.env.local.example
!.env.development.example
!.env.production.example

### IDE
.idea/
.vscode/

### OS
.DS_Store
Thumbs.db